#NavBar {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.75rem;
    display: flex;
    margin-bottom: 2.5rem;
    // flex
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    > button {
        height: 3.2rem;
        width: 3.2rem;
        margin: 0.5rem;
        border: 0.1rem solid darkgray;
        border-radius: 0.5rem;
        padding: 0.5rem;
        display: none;
        //flex
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        //extra
        background-color: whitesmoke;
        cursor: pointer;
        transition: 0.75s;

        > span {
            height: 0.32rem;
            border-radius: 1rem;
            background-color: darkgray;
        }
    }

    > button:hover {
        background-color: darkgray;

        > span {
            background-color: whitesmoke;
        }
    }

    > ul {
        margin: 0;
        padding: 0;
        display: flex;
        //flex
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        //extra
        background-color: white;
        list-style-type: none;
        overflow: hidden;

        > li {
            float: left;
            transition: 0.75s;

            > a {
                padding: 1rem 2rem;
                display: inline-block;
                //style
                color: black;
                text-align: center;
                text-decoration: none;
                transition: 0.75s;
            }

            > a:hover {
                color: lightgreen;
            }

            > .priority-nav {
                margin: 0.75rem 0.5rem;
                padding: 0.25rem 2.75rem;
                //border: 0.1rem solid lightgreen;
                //color: lightgreen;
                background-color: lightgreen;
                color: black;
                border: 0.1rem solid black;
                transition: 0.75s;
            }

            > .priority-nav:hover {
                //border-color: black;
                color: white;
                background-color: lightcoral;
                border: 0.1rem solid white;
            }

            > div {
                min-width: 160px;
                display: none;
                //style
                background-color: white;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                position: absolute;
                z-index: 1;

                > a {
                    padding: 12px 16px;
                    display: block;
                    //stlye
                    color: black;
                    text-align: left;
                    text-decoration: none;
                    transition: 0.75s;
                }

                > a:hover {
                    color: lightcoral;
                    background-color: whitesmoke;
                }
            }
        }

        > li:hover {
            color: limegreen;
        }

        > .dropdown {
            display: inline-block;
        }

        > .dropdown:hover div {
            display: block;
        }
    }
}
