/* Global styles */
@import '~sanitize.css';
@import '~react-md/src/scss/react-md';

// Include all components
@include react-md-everything;

html,
body {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Matt's stuff */

#app {
    > #reactroot {
        max-width: 960px;
        margin: 0 auto;

        > #app-background {
            z-index: -1;
            background-image: url('./background.png');
            background-repeat: repeat !important;
            filter: opacity(50%);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }
    }
}
