.person {
    padding: 0.5rem;
}

.person > * {
    margin: 0.5rem;
}

hr {
    border: 1px solid lightgreen;
}

p {
    margin: 0;
}

#RsvpPage {
    background-color: white;
    margin-bottom: 10rem;
    padding: 1rem;

    /* input[type='text'] {
        padding: 0.75rem;
        width: 100%;
        font-size: 1.25rem;
        font-family: 'Open Sans', sans-serif;
    } */
}
